<div class="add-post-button" (click)="addPost()">
    <mat-icon>add_box</mat-icon>
    <p>Add post</p>
</div>
<form class="add-post-form" [formGroup]="addForm" *ngIf="addForm">
    <mat-form-field>
        <mat-label>Title</mat-label>
        <input formControlName="title" matInput>
        <mat-error *ngIf="addForm.controls.title.errors && addForm.controls.title.errors.required">
        Required field
        </mat-error>
        <mat-error *ngIf="addForm.controls.title.errors && addForm.controls.title.errors.error">
            {{ addForm.controls.title.errors.error }}
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Text</mat-label>
        <textarea formControlName="body" matInput></textarea>
        <mat-error *ngIf="addForm.controls.body.errors && addForm.controls.body.errors.required">
        Required field
        </mat-error>
        <mat-error *ngIf="addForm.controls.body.errors && addForm.controls.body.errors.error">
            {{ addForm.controls.body.errors.error }}
        </mat-error>
    </mat-form-field>
    <div class="button-spinner" *ngIf="loadingPublish"><mat-spinner diameter="35"></mat-spinner></div>
    <div class="add-post">
        <button mat-raised-button mat-button *ngIf="!loadingPublish" (click)="publish('now')" [disabled]="addForm.invalid">Publish now</button>
        <button mat-raised-button mat-button *ngIf="!loadingPublish" (click)="publish('draft')" [disabled]="addForm.invalid">Save as draft</button>
        <div class="publish-later">
            <mat-form-field appearance="fill"  *ngIf="!loadingPublish">
                <mat-label>Publish at</mat-label>
                <input formControlName="publishedAt" matInput [min]="minDate"  [matDatepicker]="publishedAt">
                <mat-datepicker-toggle matSuffix [for]="publishedAt"></mat-datepicker-toggle>
                <mat-datepicker #publishedAt></mat-datepicker>
            </mat-form-field>
            <button mat-raised-button mat-button *ngIf="!loadingPublish" (click)="publish('later')" [disabled]="addForm.invalid || !addForm.controls.publishedAt.value">
                <mat-icon>publish</mat-icon>
            </button>
        </div>

    </div>
</form>
<div class="content-spinner" *ngIf="loading"><mat-spinner></mat-spinner></div>
<div *ngIf="!loading">
    <div *ngFor="let post of posts">
        <mat-card *ngIf="editedPost !== post" [ngClass]="{'draft': !published(post)}">
            <div class="post-header">
                <span class="post-title">{{ post.title }}</span>
                <span *ngIf="published(post) === 'to_be_published'" class="post-date-to-be">
                    To be published on the {{ post.publishedAtString }}
                </span>
                <span *ngIf="published(post) === 'published'" class="post-date">
                    {{ post.publishedAtString }}
                </span>
                <span *ngIf="!published(post)" class="post-date-draft">
                    Draft
                </span>
            </div>
            <div class="post-body">
                {{ post.body }}
            </div>
            <div class="actions">
                <mat-icon (click)="editPost(post)">create</mat-icon>
                <mat-icon (click)="deletePost(modalDelete, post)">delete</mat-icon>
            </div>
        </mat-card>
        <mat-card *ngIf="editedPost === post">
            <form class="edit-post-form" [formGroup]="editForm" *ngIf="editForm">
                <mat-icon class="icon-close" (click)="closeEditForm()">close</mat-icon>
                <mat-form-field>
                    <mat-label>Title</mat-label>
                    <input formControlName="title" matInput>
                    <mat-error *ngIf="editForm.controls.title.errors && editForm.controls.title.errors.required">
                    Required field
                    </mat-error>
                    <mat-error *ngIf="editForm.controls.title.errors && editForm.controls.title.errors.error">
                        {{ editForm.controls.title.errors.error }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Text</mat-label>
                    <textarea formControlName="body" matInput></textarea>
                    <mat-error *ngIf="editForm.controls.body.errors && editForm.controls.body.errors.required">
                    Required field
                    </mat-error>
                    <mat-error *ngIf="editForm.controls.body.errors && editForm.controls.body.errors.error">
                        {{ editForm.controls.body.errors.error }}
                    </mat-error>
                </mat-form-field>
                <div class="button-spinner" *ngIf="loadingEdit"><mat-spinner diameter="35"></mat-spinner></div>
                <div class="edit-post">
                    <button mat-raised-button mat-button *ngIf="!loadingEdit" (click)="edit('now')" [disabled]="editForm.invalid">Publish now</button>
                    <button mat-raised-button mat-button *ngIf="!loadingEdit" (click)="edit('draft')" [disabled]="editForm.invalid">Save as draft</button>
                    <div class="publish-later">
                        <mat-form-field appearance="fill"  *ngIf="!loadingEdit">
                            <mat-label>Publish at</mat-label>
                            <input formControlName="publishedAt" matInput [min]="minDate"  [matDatepicker]="publishedAt">
                            <mat-datepicker-toggle matSuffix [for]="publishedAt"></mat-datepicker-toggle>
                            <mat-datepicker #publishedAt></mat-datepicker>
                        </mat-form-field>
                        <button mat-raised-button mat-button *ngIf="!loadingEdit" (click)="edit('later')" [disabled]="editForm.invalid || !editForm.controls.publishedAt.value">
                            <mat-icon>publish</mat-icon>
                        </button>
                    </div>
            
                </div>
            </form>
        </mat-card>
    </div>
</div>


<ng-template #modalDelete>
    <h1>Are you sure you want to delete this post ?</h1>
    <div class="dialog-actions">
        <button mat-raised-button mat-button [mat-dialog-close]="true"> Yes </button>
        <button class="cancel" mat-raised-button mat-button mat-dialog-close> No </button>
    </div>
</ng-template>