@import '../../../styles.scss';
@import '../home.component.scss';


.add-post-button, .edit-post-button {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: $main_theme;
    mat-icon {
        cursor: pointer;
        font-size: 25px;
        margin-right: 10px;
    }
    p {
        cursor: pointer;
        line-height: 1.4;
    }
}

.add-post-form, .edit-post-form {
    display: flex;
    flex-direction: column;
    margin: auto;
    .icon-close {
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 10;
        cursor: pointer;
    }
}

.add-post-form {
    width: 60%;
}

.add-post, .edit-post {
    display: flex;
    justify-content: space-between;
    height: 50px;
    button {
        margin: 0;
    }
    .publish-later {
        display: flex;
    }
}

mat-card {
    &.draft {
        opacity: 0.7;
    }
    .post-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        .post-title {
            font-weight: bold;
        }
        .post-date-to-be, .post-date-draft {
            font-style: italic;
        }
    }
    .actions {
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
        color: $main_theme;
        mat-icon {
            cursor: pointer;
        }
    }
}

.dialog-actions {
    display: flex;
    justify-content: space-evenly;
    .cancel {
        background-color: $danger;
    }
}