@import '../../styles.scss';

.nav {
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    color: $main_theme;
    p {
        cursor: pointer;
    }
    .selected {
        text-decoration: underline;
        font-weight: bold;
    }
}

mat-card {
    margin: auto;
    margin-top: 20px;
    width: 80%;
}