<form [formGroup]="form" class="example-form" *ngIf="users">
  <mat-form-field>
    <mat-icon matPrefix>search</mat-icon>
    <input type="text"
            placeholder="Search by user..."
            matInput
            formControlName="username"
            [matAutocomplete]="autoUsers">
    <mat-autocomplete autoActiveFirstOption #autoUsers="matAutocomplete" [displayWith]="displayFnUser">
      <mat-option *ngFor="let user of filteredUsers | async" [value]="user">
        {{ user.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field>
    <mat-icon matPrefix>search</mat-icon>
    <input type="text"
            placeholder="Search by title..."
            matInput
            formControlName="title"
            [matAutocomplete]="autoTitles">
    <mat-autocomplete autoActiveFirstOption #autoTitles="matAutocomplete" [displayWith]="displayFnPost">
      <mat-option *ngFor="let post of filteredTitlePosts | async" [value]="post">
        {{ post.title }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>


<div *ngIf="selectedPost && !loading">
  <mat-card>
    <div class="post-header">
        <mat-icon>account_circle</mat-icon>
        <div class="post-header-text">
            <span *ngIf="userId === selectedPost.user.id" class="username">You</span>
            <span *ngIf="userId !== selectedPost.user.id" class="username">{{ selectedPost.user.name }}</span>
            <span class="post-date">
                {{ selectedPost.publishedAtString }}
            </span>
        </div>
    </div>
    <div class="post-title">
        {{ selectedPost.title }}
    </div>
    <div class="post-body">
        {{ selectedPost.body }}
    </div>
</mat-card>
</div>
<div class="content-spinner" *ngIf="loading"><mat-spinner></mat-spinner></div>

<div *ngIf="!selectedPost && !loading">
  <div *ngFor="let post of filteredPosts">
      <mat-card>
          <div class="post-header">
              <mat-icon>account_circle</mat-icon>
              <div class="post-header-text">
                <span *ngIf="userId === post.user.id" class="username">You</span>
                <span *ngIf="userId !== post.user.id" class="username">{{ post.user.name }}</span>
                <span class="post-date">
                    {{ post.publishedAtString }}
                </span>
              </div>
          </div>
          <div class="post-title">
              {{ post.title }}
          </div>
          <div class="post-body">
              {{ post.body }}
          </div>
      </mat-card>
  </div>
</div>