<form [formGroup]="form" class="example-form" *ngIf="users">
  <mat-form-field>
    <mat-icon matPrefix>search</mat-icon>
    <input type="text"
            placeholder="Search by user..."
            matInput
            formControlName="username"
            [matAutocomplete]="autoUsers">
    <mat-autocomplete autoActiveFirstOption #autoUsers="matAutocomplete" [displayWith]="displayFnUser">
      <mat-option *ngFor="let user of filteredUsers | async" [value]="user">
        {{ user.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field>
    <mat-icon matPrefix>search</mat-icon>
    <input type="text"
            placeholder="Search by title..."
            matInput
            formControlName="title"
            [matAutocomplete]="autoTitles">
    <mat-autocomplete autoActiveFirstOption #autoTitles="matAutocomplete" [displayWith]="displayFnPost">
      <mat-option *ngFor="let post of filteredTitlePosts | async" [value]="post">
        {{ post.title }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>


<div *ngIf="selectedPost && !loading">
  <app-post-card [post]="selectedPost"></app-post-card>
</div>
<div class="content-spinner" *ngIf="loading"><mat-spinner></mat-spinner></div>

<div *ngIf="!selectedPost && !loading">
  <div *ngFor="let post of filteredPosts">
    <app-post-card [post]="post"></app-post-card>
  </div>
</div>