@import '../../../styles.scss';
@import '../home.component.scss';

form {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

::ng-deep .mat-form-field-prefix {
    align-self: flex-end;
    color: #777;
    margin-right: 5px;
}